streamlit==1.47.1
python-dotenv==1.1.1
torch==2.7.1
transformers
langchain
langchain-community
langchain-huggingface
sentence-transformers
scikit-learn
faiss-cpu
pymupdf
unstructured
nltk
tqdm
